.*
!.github
!.gitignore
.clj-kondo
!.clj-kondo/config.edn
!.clj-kondo/app/*
!.env.edn
extra/
archive
result
target/
*.log
# native build artifacts
*.o
*.so
*.dylib
compile_flags.txt
build/
src/test/resources/3gb-test-file.bin
zig-out
