{:paths   ["src/main/clojure" "target/classes"]
 :deps    {;; busker tries to minimize dependencies
           org.suskalo/coffi                         {:git/url    "https://github.com/Ramblurr/coffi.git"
                                                      :git/branch "feat/update-tools-build"
                                                      :git/sha    "9b05e268b915b1992bfd4175cb7c8c7c45d8973a"}
           ;; busker requires trove for its light pluggiable logging facade
           com.taoensso/trove                        {:mvn/version "1.1.0"}
           ;; busker requires clave, an ACME client, to power its auto https features
           io.github.outskirtslabs/clave             {:git/sha "2b7fa1d12cb05a23806bdcf249b76027951adbf3"}
           ;; busker requires charred because implementing ACME requires speaking JSON, and clave makes it a peer dep
           com.cnuernber/charred                     {:mvn/version "1.037"}}
 :aliases {:kaocha {:extra-paths []
                    :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                    :main-opts   ["-m" "kaocha.runner"]}
           :build  {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.13"}
                                 org.clojure/tools.deps.cli    {:mvn/version "0.15.131"}}
                    :ns-default build}
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}}
           :test   {:extra-paths ["src/test/clojure"]
                    :extra-deps  {}}
           :dev    {:extra-paths ["dev"]
                    :jvm-opts
                    ["--enable-native-access=ALL-UNNAMED"
                     "-Duser.timezone=UTC"
                     "-XX:+UseZGC"
                     "-XX:+EnableDynamicAgentLoading"
                     "-Djdk.attach.allowAttachSelf"]
                    :extra-deps  {dev.weavejester/hashp                    {:mvn/version "0.5.1"}
                                  org.slf4j/slf4j-nop                      {:mvn/version "2.0.17"}
                                  criterium/criterium                      {:mvn/version "0.4.6"}
                                  babashka/process                         {:mvn/version "0.6.23"}
                                  org.babashka/http-client                 {:mvn/version "0.4.23"}
                                  org.clojure/clojure                      {:mvn/version "1.12.4"}
                                  io.github.tonsky/clj-reload              {:mvn/version "1.0.0"}
                                  org.clojure/tools.deps                   {:mvn/version "0.26.1553"}
                                  org.ring-clojure/ring-core-protocols     {:mvn/version "1.15.3"}
                                  com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.6.2"}
                                  com.outskirtslabs.busker/macos-x86-64    {:mvn/version "0.0.1"}
                                  com.outskirtslabs.busker/macos-aarch64   {:mvn/version "0.0.1"}
                                  com.outskirtslabs.busker/linux-x86-64    {:local/root "shim/linux-x86-64"}}}
           :bench  {:extra-paths ["src/test/clojure" "src/test/resources"]
                    :extra-deps  {http-kit/http-kit              {:mvn/version "2.8.1"}
                                  info.sunng/ring-jetty9-adapter {:mvn/version "0.39.0"}
                                  ;; info.sunng/ring-jetty9-adapter-http2 {:mvn/version "0.39.0"}
                                  ;; info.sunng/ring-jetty9-adapter-http3 {:mvn/version "0.39.0"}
                                  ring/ring-jetty-adapter        {:mvn/version "1.15.3"}}}

           :neil {:project {:name        com.outskirtslabs/busker
                            :description "Busker is your Clojure web server that plays live on the open web"
                            :license     {:id "EUPL-1.2"}
                            :platforms   [:clj :linux :macos]
                            :created     "2026-02-16"
                            :status      :experimental
                            :version     "0.0.3"
                            :url         "https://github.com/outskirtslabs/busker"
                            :scm         [:scm
                                          [:url "https://github.com/outskirtslabs/busker"]
                                          [:connection "scm:git:https://github.com/outskirtslabs/busker.git"]
                                          [:developerConnection "scm:git:ssh:git@github.com:outskirtslabs/busker.git"]]}}}}
