#kaocha/v1
 {:bindings {kaocha.stacktrace/*stacktrace-stop-list* ["kaocha.runner"
                                                       "kaocha.plugin.capture_output"
                                                       "kaocha.testable"]
             kaocha.stacktrace/*stacktrace-filters*   ["java.lang." "java.util.concurrent."
                                                       "clojure.test$" "clojure.lang." "clojure.core" "clojure.main"
                                                       "orchestra." "kaocha."]}

  :plugins [:kaocha.plugin.alpha/info
            :kaocha.plugin/randomize
            :kaocha.plugin/filter
            :kaocha.plugin/capture-output]

  :tests
  [{:id         :h2o
    :test-paths ["src/test/clojure"]}]}
