{:api-index/version 1,
 :component "ol.busker",
 :version "next",
 :namespaces
 {"ol.busker"
  {:page "api/ol-busker.adoc",
   :vars
   {"reload!" "reload-BANG-",
    "start!" "start-BANG-",
    "state" "state",
    "stop!" "stop-BANG-"}},
  "ol.busker.buffer-pool"
  {:page "api/ol-busker-buffer-pool.adoc",
   :vars
   {"BufferPool" "BufferPool",
    "borrow" "borrow",
    "dispose" "dispose",
    "make-bytebuffer-pool" "make-bytebuffer-pool",
    "return" "return"}},
  "ol.busker.metrics"
  {:page "api/ol-busker-metrics.adoc",
   :vars
   {"counter!" "counter-BANG-",
    "gauge-set!" "gauge-set-BANG-",
    "histogram-observe!" "histogram-observe-BANG-",
    "meter-mark!" "meter-mark-BANG-",
    "now-ns" "now-ns",
    "time!" "time-BANG-",
    "time-block!" "time-block-BANG-"}},
  "ol.busker.middleware"
  {:page "api/ol-busker-middleware.adoc",
   :vars {"wrap-reject-early-data" "wrap-reject-early-data"}},
  "ol.busker.protocols"
  {:page "api/ol-busker-protocols.adoc",
   :vars
   {"ResponseEmitter" "ResponseEmitter",
    "SizableResponseBody" "SizableResponseBody",
    "body-size-in-bytes" "body-size-in-bytes",
    "close" "close",
    "committed?" "committed-QMARK-",
    "emit!" "emit-BANG-",
    "flush" "flush",
    "on-close" "on-close",
    "open?" "open-QMARK-"}}}}
