{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        com.outskirtslabs/busker {:git/url "https://github.com/outskirtslabs/busker"
                                  :git/sha "6b8d5bc153da4647441320f4c9be47b8ac7586dd"}
        com.outskirtslabs.busker/linux-x86-64 {:mvn/version "0.0.4"}}
 :aliases {:run {:main-opts ["-m" "busker-demo.main"]
                 :jvm-opts ["--enable-native-access=ALL-UNNAMED"]}
           :test {:extra-paths ["test"]
                  :main-opts ["-m" "busker-demo.test-runner"]
                  :jvm-opts ["--enable-native-access=ALL-UNNAMED"]}}}
