{:paths ["resources"]
 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}
                          slipset/deps-deploy {:mvn/version "0.2.5"}}
                   :ns-default build}
           :neil {:project {:name com.outskirtslabs.busker/macos-aarch64
                            :description "Native dependency for com.outskirtslabs/busker"
                            :version "0.0.4"}}}}
